<div class="clearfix">
    <form ng-submit="post()">
        <h4>Be part of it :</h4>
        <textarea required class="form-control" maxlength="20" hight = "38" width = "100" placeholder="Enter your name"
                  ng-model="newPost.created_by"></textarea>
        <textarea required class="form-control" maxlength="20" hight = "38" width = "100" placeholder="Enter Game's name"
                  ng-model="newPost.name"></textarea>
        <textarea required class="form-control" hight = "38" width = "100" placeholder="Enter description"
                  ng-model="newPost.description"></textarea>
        <div ng-repeat = "image in images">

        <textarea required class="form-control" maxlength="2000" hight = "38" width = "100" placeholder="Enter links for images"
                  ng-model="newPost.images[$index]"></textarea>
            <button  class="btn submit-btn pull-left" ng-click = "removeOption($index)" ng-if =" images.length>1">x</button>


        </div>

        <input class="btn submit-btn pull-right" type="submit" value="+Add!"/>
        <button class="btn submit-btn pull-left" ng-click = "addOption()">+</button>
        <hr>
    </form>


    <div id="post-stream">
        <h4>Reviews :</h4>

        <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'"
             ng-class-even="'even'" >
            <div ng-init="checked=false">
                <div>
                    <input ng-click=" deletePost($index)" class="btn submit-btn pull-right" type="submit" value="X"/>
                    <p>{{post.name}}</p>
                    <div ng-repeat="image in post.images">
                        <img ng-style="{'height': '200px'}" ng-src ="{{image}}" ng-show = "image"/>
                    </div>

                    <label>edit: <input type="checkbox" ng-model="checked" /></label>
                    <p>Description : {{post.description}}</p>
                    <small ng-model="username">Posted by @{{post.created_by}}</small>
                    <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
                </div>

                <div ng-if = checked ng-class= "edit">
                    <hr>
                    <input ng-click=" savePost(post)" class="btn submit-btn pull-right"  value="save"/>
                    <hr>
                    <p>Name</p>
                 <textarea required class="form-control"  hight = "38" width = "100"
                           ng-model="post.name">{{post.name}}</textarea>
                    <p>Description :</p>
                <textarea required class="form-control"  hight = "38" width = "100"
                          ng-model="post.description">{{post.description}}</textarea>
                    <p>images :</p>
                    <div ng-repeat="image in post.images">
                    <textarea required class="form-control"  hight = "38" width = "100"
                              ng-model="post.images[$index]">{{image}}</textarea>
                        <button  ng-click = "removeOptionFor(post,$index)" class="btn submit-btn pull-left" ng-if = " post.images.length>1">x</button>

                    </div>
                    <button class="btn submit-btn clearfix" ng-click=" addOptionFor(post)"  >+</button>
                    <hr>
                    <small ng-model="username" >Posted by @{{post.created_by}}</small>
                    <small class="pull-right">{{post.created_at | date:"h:mma 'on' MMM d, y"}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
